@use 'vars/vars' as *;
@use './components/main-header/main-header';
@use './components/welcome-section/welcome-section';
@use './components/first-mission-section/first-mission-section';
@use './components/store-content-section/store-content-section';
@use './components/learning-section/learning-section';
@use './components/project-section/project-section';
@use './components/schedule-section/schedule-section';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $primary-color-3;
}

h1,
h2,
h3,
h4,
p {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
a {
    text-decoration: none;
    color: $white-color;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    color: $welcome-text-color;
}

h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: $text-color;
}

h3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 38.4px;
    color: $text-color;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    color: $text-color;
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: $white-color;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.primary-button {
    background-color: $button-primary-color;
    &:hover {
        background-color: $secondary-color-1;
    }
}
.button {
    border-radius: $border-radius-lg;
    height: 2.5rem;
    max-width: 15rem;
    padding: 0.5rem;
    transition: all 0.3s ease;
}
.secondary-button {
    background-color: $secondary-color-1;

    &:hover {
        background-color: $button-primary-color;
    }
}
