@mixin flex-center($direction: column) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}
@mixin flex-start($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: flex-start;
    justify-content: space-between;
}

@mixin previous-background($color) {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        z-index: -1;
    }
}

@mixin background-image($image) {
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        left: -10%;
        width: 150%;
        height: 40rem;
        background-size: cover;
        background: url($image);
        opacity: 0.5;
        background-size: cover;
        z-index: 0;
    }
    @media (max-width: 768px) {
        &::after {
            left: -50%;
        }
    }
}
