@use '../../vars/vars' as *;
@use '../../mixins/mixins' as *;

.first-mission-section {
    position: relative;
    background-color: $white-color;
    @include flex-center();
    gap: 2rem;
    padding: 4rem;
    border-radius: $border-radius-section;
    @include previous-background($primary-color-3);
}
