@use '../../mixins/mixins' as *;
@use '../../vars/vars' as *;

.card-section {
    position: relative;
    @include flex-center();
    padding: $padding-section;
    border-radius: $border-radius-section;
    background-color: $white-color;
    gap: 2rem;
    @include previous-background($primary-color-3);
    @include background-image('../assets/icons/map.svg');

    p {
        color: $text-color;
        max-width: 600px;
        text-align: center;
    }
    .card-section__info-content {
        @include flex-center();
        gap: 2rem;
        color: $text-color;
        z-index: 10;
    }
    .card-section__cards-content {
        z-index: 10;
        &--list {
            display: flex;
            justify-content: space-between;
            &--card {
                border: 0.5rem solid $white-color;
                padding: 1rem;
                border-radius: 1.5rem 1.5rem 1rem 1.5rem;
                background-color: $primary-color-1;
                position: relative;
                display: flex;
                gap: 1rem;
                width: 32%;
                height: 15rem;

                &__img {
                    height: 100%;
                    width: 30%;
                    border-radius: 1rem;
                }
                &__title {
                    align-content: center;
                    font-weight: 600;
                    font-size: 1.25rem;
                    line-height: 38.4px;
                    color: $white-color;
                    width: 50%;
                }
                &__small {
                    color: $text-color;
                    border-radius: $border-radius-lg;
                    padding: 0.5rem;
                    background-color: $white-color;
                    position: absolute;
                    top: 0.5rem;
                    right: 0.5rem;
                }
                &__button {
                    padding: 0.5rem;
                    width: 5rem;
                    height: 2.5rem;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: $secondary-color-1;
                    border-radius: 0.8rem;
                    z-index: 10;
                    outline: 0.5rem solid $white-color;

                    &::after,
                    &::before {
                        content: '';
                        width: 1.125rem;
                        height: 1.125rem;
                        position: absolute;
                    }
                    &::after {
                        background-color: transparent;
                        top: -1.625rem;
                        right: 0px;
                        border-bottom-right-radius: 0.8rem;
                        box-shadow: 0.375rem 0.375rem $white-color;
                    }
                    &::before {
                        background-color: transparent;
                        bottom: 0;
                        right: 5.5rem;
                        border-bottom-right-radius: 0.8rem;
                        box-shadow: 0.375rem 0.375rem $white-color;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .card-section {
        padding: $padding-section-mobile;
        .card-section__cards-content {
            &--list {
                flex-direction: column;
                gap: 2rem;
                width: 100%;
                &--card {
                    width: 100%;
                }
            }
        }
    }
}
