// colors
$primary-color-1: #177079;
$primary-color-2: #19a9b1;
$primary-color-3: #073c45;
$primary-color-4: #43bdcd;

$secondary-color-1: #ffbd1d;

$text-color: #147076;
$welcome-text-color: #cffdf8;

$white-color: white;
$white-color-2: #e6e6e6;

$button-primary-color: #d0fefb;
$button-primary-hover-color: $primary-color-2;

//border-radius
$border-radius-lg: 40px;
$border-radius-section: 40px 40px 0 0;

//borders
$border-primary: 6px solid $primary-color-2;
$border-secondary: 10px solid $welcome-text-color;

//padding
$padding-section: 4rem;
$padding-section-mobile: 2rem;

$primary400: #23edea;
$primary500: #07d3d3;
$primary600: #09aab1;
$primary700: #0f878f;
$primary800: #166f78;
$primary900: #165963;
$primary950: #083c44;

$secondary100: #fff3c6;
$secondary200: #ffe588;
$secondary300: #ffd34a;

$secondary500: #f99c07;
$secondary600: #dd7402;
$secondary700: #b75106;
$secondary800: #943d0c;
$secondary900: #7a330d;
$secondary950: #461902;

$neutral0: #ffffff;
$neutral100: #f5f5f5;
$neutral200: #e6e6e6;
$neutral300: #d6d6d6;
$neutral400: #a5a5a5;
$neutral500: #767676;
$neutral600: #575757;
$neutral700: #434343;
$neutral800: #292929;
$neutral900: #1a1a1a;
$neutral950: #101010;

$other_warning: #ff8a22;
$other_warning-hover: #ff7800;
$other_blue-mds-logo: #43bccb;
$other_blue-mds-logo-icon: #65c8d5;

$width-menu-xl: 1200px;
