// colors
$primary-color-1: #177079;
$primary-color-2: #19a9b1;
$primary-color-3: #073c45;
$primary-color-4: #43bdcd;

$secondary-color-1: #ffbd1d;

$text-color: #147076;
$welcome-text-color: #cffdf8;

$white-color: white;
$white-color-2: #e6e6e6;

$button-primary-color: #d0fefb;
$button-primary-hover-color: $primary-color-2;

//border-radius
$border-radius-lg: 40px;
$border-radius-section: 40px 40px 0 0;

//borders
$border-primary: 6px solid $primary-color-2;
$border-secondary: 10px solid $welcome-text-color;

//padding
$padding-section: 4rem;
$padding-section-mobile: 1rem;
