@use '../../vars/vars' as *;
@use '../../mixins/mixins' as *;

.store-content-section {
    padding: $padding-section;
    @include flex-center();
    gap: 4rem;
    position: relative;
    color: $white-color;
    background-color: $primary-color-4;
    border-radius: $border-radius-section;

    @include previous-background($white-color-2);
    @include background-image('../assets/icons/send.svg');
    &__title {
        color: $white-color;
        z-index: 10;
    }
    &__list {
        @include flex-start(row);
        z-index: 10;
        &--item {
            width: 30%;
            height: 100%;
            &__title,
            &__text {
                color: $white-color;
            }
            &__img {
                width: 100%;
                background-color: $white-color;
                border-radius: $border-radius-lg;
            }
        }
    }
}

@media (max-width: 768px) {
    .store-content-section {
        padding: 2rem 0;
        gap: 2rem;
        &__title {
            padding: 0 2rem;
            text-align: center;
        }
        &__list {
            flex-direction: column;
            gap: 2rem;
            &--item {
                width: 100%;
            }
            &--item-pair {
                padding-left: 2rem;
                &__img {
                    border-radius: 40px 0 0 40px;
                }
            }
            &--item-impair {
                padding-right: 2rem;
                &__img {
                    border-radius: 0 40px 40px 0;
                }
            }
        }
    }
}
